[Desktop Entry]
Type=Application
Name=Misty
Comment=Desktop file manager and cloud browser
Exec=misty %U
Icon=misty
Terminal=false
Categories=Utility;FileTools;
StartupNotify=true
StartupWMClass=Misty
MimeType=inode/directory;
